<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>All </title>
</head>
<body>

    <div class="cabecalho">
        
        <h1>Crud de conteiner</h1>

        <a href="/"><button>Home</button></a>
        
    </div>    
    <div>
            <%for(let i = 0; i < posts.length ; i++){%>
                
                <div class="card">
                    <h3 class="card-name"><%=posts[i].cliente%></h3>

                   <div class="card-content">
                        <div class="card-content-post">
                            <div>N° Conteiner: <%=posts[i].num_conteiner%></div>
                            <div>Tipo: <%=posts[i].tipo%></div>
                            <div>Status: <%=posts[i].status%></div>
                            <div>Categoria: <%=posts[i].categoria%></div>
                            <div>Movimentação: <%=posts[i].movimentacao%></div>
                        </div>
                        <div class="card-content-button">
                            <a href="/delete/<%=posts[i].id%>"><button class="button-delete">Deletar</button></a>
                            <a href="/edit/<%=posts[i].id%>"><button class="button-edit">Editar</button ></a>
                        </div>
                    </div>
                </div>    

            <%}%>  
    </div>

</body>
</html>